{% extends 'lmmCalc/base.html' %}
{% load static %}

{% block content %}
<br><br>
<div>
  <img src="" alt="">
</div>
<div class="container d-flex justify-content-center"><br><br>
    <form id="form" action="{% url 'lmmCalc:answer' %}" method="post">
      {% csrf_token %}
      <div class="row">
        <span id="formInitialContent">
          <div class="form-group">
            <h6>A sample question: <label class="font-weight-bold text-primary"> Yn+3 – Yn+2 = h/24{9Fn+3 + 19Fn+2 – 5Fn+1 + Fn}</label></h4>
            <h6>Highest subscript number for α = 3; Highest subscript number for β = 3</h4>
          </div>
          <br>
          <div class="form-group">
            <label class="font-weight-bold"> Enter highest subscript number for α</label>
            <input type="number" name="alpha-highest" id="alpha-high"/><br />  
          </div>
         
          <div class="form-group">
            <label class="font-weight-bold"> Enter highest subscript number for β</label>
            <input type="number" name="beta-highest" /><br />
          </div>
          <div onclick="createForm()" id="next-button" class="form-group row btn btn-outline-primary ml-1">  Next</div>
        </span>
      </div>
    </form>
  </div>
{% endblock content %}

{% block scripts %}
  <script type="text/javascript" src="{% static 'lmmCalc/index.js' %}"> </script>
{% endblock scripts %}